@font-face {
    font-family: SourceSerifPro;
    src: url('../font/SourceSerifPro-Regular.otf') format('embedded-opentype'), /* Internet Explorer */
         url('../font/SourceSerifPro-Regular.otf') format('woff2'),             /* Super Modern Browsers */
         url('../font/SourceSerifPro-Regular.otf') format('woff'),              /* Pretty Modern Browsers */
         url('../font/SourceSerifPro-Regular.otf') format('truetype'),          /* Safari, Android, iOS */
         url('../font/SourceSerifPro-Regular.otf') format('svg');               /* Legacy iOS */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SourceSerifPro', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
}

div, h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.font-imperial-script{
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-color-primary{
    color: #ffce45;
}

.bg-color-primary{
    background-color: #ffce45;
}

.font-color-secondary{
    color: #D32424;
}

.bg-color-secondary{
    background-color: #D32424;
}

.font-color-tertiary{
    color: #FFBA4E;
}

.bg-color-tertiary{
    background-color: #FFBA4E;
}

.cover{
    width: 100%;
    height: 100vh;
    background-image: url('../img/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.padding-content{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.content img.lentera{
    width: 75%;
    position: absolute;
    top: -10px;
}

.content img.border{
    position: absolute;
    height: 100%;
}

.content img.logo{
    width: 27%;
    position: relative;
}

.content p{
    font-size: 16px;
    margin: 15px 0;
    position: relative;
}

.content h2{
    font-size: 43.64px;
    position: relative;
}

hr{
    width: 58%;
    border: 1px solid #FFCE45;
    position: relative;
}

.content h3{
    font-size: 20.36px;
    font-weight: 600;
    margin: 0 20px 20px;
    position: relative;
}

.content a{
    font-size: 14.55px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.content a img{
    width: 24.73px;
    margin-right: 10px;
}

.fixed-content{
    width: 70%;
    height: 100vh;
    background-image: url('../img/foto_prewedd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 100px;
}

.fixed-content img.ornaments{
    position: absolute;
    width: 33%;
    left: 0px;
    top: 0px;
}

.fixed-content img.photo{
    width: 43%;
}

.fixed-content h1{
    font-size: 140px;
    margin: 0 0 0 30px;
    font-weight: 500;
    line-height: 120px;
}

.fixed-content span.and{
    font-size: 100px;
}

.nav-container{
    position: absolute;
    right: 20px;
}

.nav-icon{
    background: #A51414;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-icon button{
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 8px 0px;
}

.nav-icon img, .invitation img, p.instagram img{
    width: 20px;
}

.music{
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(88.89deg, #A51414 26.37%, rgba(245, 91, 91, 0.5) 51.89%, #A51414 76.91%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.music div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.music img{
    width: 100%;
}

.scrolled-content{
    width: 30%;
    position: absolute;
    right: 0;
}

.section1{
    width: 100%;
    height: 100%;
    background-image: url('../img/section1/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section1 .height{
    height: 100vh;
}

.section1-border{
    box-sizing: border-box;
    position: absolute;
    width: 88%;
    height: 92%;
    border: 2px solid #FFCE45;
}

.section1 img{
    position: absolute;
}

.section1 h5{
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.section1 h2{
    font-size: 72.73px;
    font-weight: 600;
    margin: 10px;
    letter-spacing: 2px;
}

.section1 h3{
    font-size: 43.64px;
    font-weight: 600;
}

.section1 h4{
    font-size: 22px;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.section1 img.tree-left-1{
    width: 52%;
    left: 0;
    top: 0;
    z-index: 3;
}

.section1 img.tree-right-1{
    width: 52%;
    right: 0;
    top: 0;
    z-index: 3;
}

.section1 img.tree-left-2{
    width: 49%;
    left: 0;
    top: 0;
    z-index: 2;
}

.section1 img.tree-right-2{
    width: 49%;
    right: 0;
    top: 0;
    z-index: 1;
}

.section1 img.lentera-1{
    width: 10%;
    top: 0;
    left: 6%;
    z-index: 1;
}

.section1 img.lentera-2{
    width: 21%;
    top: 0;
    left: 13%;
    z-index: 1;
}

.section1 img.lentera-3{
    width: 21%;
    top: 0;
    left: 69%;
    z-index: 2;
}

.section1 img.silhouttes-birds-1{
    width: 16%;
    top: 0.5%;
    right: 50%;
    z-index: 1;
}

.section1 img.silhouttes-birds-2{
    width: 16%;
    top: 23%;
    left: 67%;
    z-index: 1;
}

.section1 img.cranes-left{
    width: 36%;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.section1 img.cranes-right{
    width: 44%;
    right: 0;
    bottom: 0%;
    z-index: 1;
}

.section1 img.flowers-1{
    height: 23%;
    width: auto;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.section1 img.flowers-2{
    height: 23%;
    width: auto;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.section2{
    text-align: center;
    padding: 50px 30px;
}

.section2 div.logo{
    display: flex;
    justify-content: center;
}

.section2 img{
    display: block;
    width: 53%;
}

.section2 p{
    margin: 30px 0;
}

.section3{
    width: 100%;
    height: 100%;
    padding: 8% 8%;
    background-image: url('../img/section3/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img.section3-flowers{
    position: absolute;
}

.section3 .flowers-kiri-atas{
    width: 62%;
    left: 0;
    top: 0;
}

.section3 .flowers-kanan-atas{
    width: 62%;
    right: 0;
    top: 0;
}

.section3 .flowers-kiri-bawah{
    width: 62%;
    left: 0;
    bottom: 0;
}

.section3 .flowers-kanan-bawah{
    width: 62%;
    right: 0;
    bottom: 0;
}

.section3 .red-bg{
    padding: 90px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3 p{
    font-size: 11.64px;
    margin: 0px 20px 27px;
}

.section3 .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section3 img.groom, .section3 img.bride{
    width: 63%;
    border-radius: 100%;
    display: block;
}

.section3 h2{
    font-family: "Pacifico", cursive;
    font-style: normal;
    font-size: 47.27px;
    position: absolute;
    bottom: -27px;
    margin: 0 20px;
}

.section3 h3{
    margin: 45px 20px 10px;
    font-size: 20.36px;
    font-weight: 700;
    letter-spacing: 1px;
}

.section3 h4{
    margin: 0 20px 12px;
    font-size: 16px;
    font-weight: 300;
}

.section3 a{
    text-decoration: none;
    color: white;
}

.section3 .ig{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.section3 .groom-ig{
    margin-bottom: 60px;
}

.section3 img.instagram{
    display: block;
    width: 16px;
    margin-right: 7px;
}

.section3 h5{
    font-size: 13.09px;
    font-weight: 300;
}

.section4{
    text-align: center;
    position: relative;
}

.section4 .lentera{
    position: absolute;
    top: 0;
}

.section4 .lentera-1{
    width: 14%;
    left: 2%;
}

.section4 .lentera-2{
    width: 21%;
    left: 8%;
}

.section4 .lentera-3{
    width: 10%;
    left: 74%;
}

.section4 .lentera-4{
    width: 19%;
    right: 0;
}

.section4 img.ornament{
    width: 15%;
    margin: 70px 0 60px;
}

.section4 .timesection{
    display: inline-block;
    margin-left: 25.45px;
}

.section4 .timesection:first-child{
    margin-left: 0;
}

.section4 .value{
    margin-bottom: 5px;
}

.section4 .value, .timelabel{
    font-size: 17.45px;
}

.section4 h2{
    font-size: 43.64px;
    margin: 35px 0;
    padding: 0 20px;
}

.section4 p{
    font-size: 11.64px;
    padding: 0 20px;
    margin-bottom: 39px;
}

.section4 img.patterns{
    display: block;
}

.section5{
    width: 100%;
    height: 100%;
    padding: 16% 8% 0 8%;
    background-image: url('../img/section5/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section5 .ornaments img{
    position: absolute;
}

.section5 img.flowers1{
    width: 51%;
    top: 0;
    left: 0;
}

.section5 img.bird{
    width: 20%;
    top: 1%;
    left: 66%;
}

.section5 img.bird2{
    width: 26%;
    top: 3%;
    right: 0;
}

.section5 img.cranes-left{
    width: 36%;
    top: 85%;
    left: 0;
}

.section5 img.cranes-right{
    width: 36%;
    bottom: 0;
    right: 0;
}

.section5 img.flowers2{
    width: 68%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.section5 .red-bg{
    border: 5.09px solid #A51414;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 330px 330px 0px 0px;
    padding: 22.5% 9% 45%;
}

.section5 p{
    border-radius: 330px 330px 0px 0px;
    font-size: 11.64px;
    margin-bottom: 50px;
    padding: 0 2%;
}

.section5 .venue{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.section5 .venue img{
    border: 3px solid #A51414;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section5 h2{
    font-size: 47.27px;
    font-weight: 500;
    position: absolute;
    bottom: -28px;
    font-style: normal;
    text-align: center;
}

.section5 h3{
    font-size: 20.36px;
    font-weight: 700;
    letter-spacing: 0%;
    margin: 15px 0;
}

.section5 h4{
    font-size: 14.55px;
    font-weight: 400;
}

.section5 h4 span{
    display: block;
    margin: 13px 0 10px;
}

.section5 .maps{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 15px auto;
    background: linear-gradient(96.01deg, #FFCE45 1.15%, #C3930E 163.96%);
    border-radius: 20px;
}

.section5 .maps img{
    width: 11%;
    margin-right: 5px;
}

.section5 h5{
    font-size: 13.09px;
    color: white;
}

.section5 .height{
    height: 55px;
}

@media (max-width: 1200px) {
    .fixed-content h1{
        font-size: 120px;
    }
    
    .fixed-content span.and{
        font-size: 80px;
    }
}

@media (max-width: 1020px) {
    .fixed-content h1{
        font-size: 100px;
    }
    
    .fixed-content span.and{
        font-size: 60px;
    }
}

@media (max-width: 860px) {
    div.fixed-content{
        display: none;
    }
  
    div.scrolled-content{
        width: 100%;
    }

    div.content{
        width: 100%;
    }
}