@font-face {
    font-family: SourceSerifPro;
    src: url('../font/SourceSerifPro-Regular.otf') format('embedded-opentype'), /* Internet Explorer */
         url('../font/SourceSerifPro-Regular.otf') format('woff2'),             /* Super Modern Browsers */
         url('../font/SourceSerifPro-Regular.otf') format('woff'),              /* Pretty Modern Browsers */
         url('../font/SourceSerifPro-Regular.otf') format('truetype'),          /* Safari, Android, iOS */
         url('../font/SourceSerifPro-Regular.otf') format('svg');               /* Legacy iOS */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SourceSerifPro', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
}

div, h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.font-outfit{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.font-imperial-script{
    font-family: "Imperial Script", cursive;
    font-weight: 600;
    font-style: normal;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-color-primary{
    color: #ffce45;
}

.bg-color-primary{
    background-color: #ffce45;
}

.font-color-secondary{
    color: #D32424;
}

.bg-color-secondary{
    background-color: #D32424;
}

.font-color-tertiary{
    color: #FFBA4E;
}

.bg-color-tertiary{
    background-color: #FFBA4E;
}

.cover{
    width: 100%;
    height: 100vh;
    background-image: url('../img/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.padding-content{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.content img.lentera{
    width: 75%;
    position: absolute;
    top: -10px;
}

.content img.border{
    position: absolute;
    height: 100%;
}

.content img.logo{
    width: 27%;
    position: relative;
}

.content p{
    font-size: 16px;
    margin: 15px 0;
    position: relative;
}

.content h2{
    font-size: 43.64px;
    position: relative;
}

hr{
    width: 58%;
    border: 1px solid #FFCE45;
    position: relative;
}

.content h3{
    font-size: 20.36px;
    font-weight: 600;
    margin: 0 20px 20px;
    position: relative;
}

.content a{
    font-size: 14.55px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.content a img{
    width: 24.73px;
    margin-right: 10px;
}

.fixed-content{
    width: 70%;
    height: 100vh;
    background-image: url('../img/foto_prewedd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 100px;
}

.fixed-content img.ornaments{
    position: absolute;
    width: 33%;
    left: 0px;
    top: 0px;
}

.fixed-content img.photo{
    width: 43%;
}

.fixed-content h1{
    font-size: 140px;
    margin: 0 0 0 30px;
    font-weight: 600;
    line-height: 120px;
}

.fixed-content span.and{
    font-size: 100px;
}

.nav-container{
    position: absolute;
    right: 20px;
}

.nav-icon{
    background: #A51414;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-icon button{
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 8px 0px;
}

.nav-icon img, .invitation img, p.instagram img{
    width: 20px;
}

.music{
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(88.89deg, #A51414 26.37%, rgba(245, 91, 91, 0.5) 51.89%, #A51414 76.91%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.music div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.music img{
    width: 100%;
}

.scrolled-content{
    width: 30%;
    position: absolute;
    right: 0;
}

.section1{
    width: 100%;
    height: 100%;
    background-image: url('../img/section1/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section1 .height{
    height: 100vh;
}

.section1-border{
    box-sizing: border-box;
    position: absolute;
    width: 88%;
    height: 92%;
    border: 2px solid #FFCE45;
}

.section1 img{
    position: absolute;
}

.section1 h5{
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.section1 h2{
    font-size: 72.73px;
    margin: 10px;
    letter-spacing: 2px;
}

.section1 h3{
    font-size: 43.64px;
    font-weight: 600;
}

.section1 h4{
    font-size: 22px;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.section1 img.tree-left-1{
    width: 52%;
    left: 0;
    top: 0;
    z-index: 3;
}

.section1 img.tree-right-1{
    width: 52%;
    right: 0;
    top: 0;
    z-index: 3;
}

.section1 img.tree-left-2{
    width: 49%;
    left: 0;
    top: 0;
    z-index: 2;
}

.section1 img.tree-right-2{
    width: 49%;
    right: 0;
    top: 0;
    z-index: 1;
}

.section1 img.lentera-1{
    width: 10%;
    top: 0;
    left: 6%;
    z-index: 1;
}

.section1 img.lentera-2{
    width: 21%;
    top: 0;
    left: 13%;
    z-index: 1;
}

.section1 img.lentera-3{
    width: 21%;
    top: 0;
    left: 69%;
    z-index: 2;
}

.section1 img.silhouttes-birds-1{
    width: 16%;
    top: 0.5%;
    right: 50%;
    z-index: 1;
}

.section1 img.silhouttes-birds-2{
    width: 16%;
    top: 23%;
    left: 67%;
    z-index: 1;
}

.section1 img.cranes-left{
    width: 36%;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.section1 img.cranes-right{
    width: 44%;
    right: 0;
    bottom: 0%;
    z-index: 1;
}

.section1 img.flowers-1{
    height: 23%;
    width: auto;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.section1 img.flowers-2{
    height: 23%;
    width: auto;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.section2{
    text-align: center;
    padding: 50px 30px;
}

.section2 div.logo{
    display: flex;
    justify-content: center;
}

.section2 img{
    display: block;
    width: 53%;
}

.section2 p{
    margin: 30px 0;
}

.section3{
    width: 100%;
    height: 100%;
    padding: 8% 8%;
    background-image: url('../img/section3/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img.section3-flowers{
    position: absolute;
}

.section3 .flowers-kiri-atas{
    width: 62%;
    left: 0;
    top: 0;
}

.section3 .flowers-kanan-atas{
    width: 62%;
    right: 0;
    top: 0;
}

.section3 .flowers-kiri-bawah{
    width: 62%;
    left: 0;
    bottom: 0;
}

.section3 .flowers-kanan-bawah{
    width: 62%;
    right: 0;
    bottom: 0;
}

.section3 .red-bg{
    padding: 90px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3 p{
    font-size: 11.64px;
    margin: 0px 20px 27px;
}

.section3 .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section3 img.groom, .section3 img.bride{
    width: 63%;
    border-radius: 100%;
    display: block;
}

.section3 h2{
    font-family: "Pacifico", cursive;
    font-style: normal;
    font-size: 47.27px;
    position: absolute;
    bottom: -27px;
    margin: 0 20px;
}

.section3 h3{
    margin: 45px 20px 10px;
    font-size: 20.36px;
    font-weight: 700;
    letter-spacing: 1px;
}

.section3 h4{
    margin: 0 20px 12px;
    font-size: 16px;
    font-weight: 300;
}

.section3 a{
    text-decoration: none;
    color: white;
}

.section3 .ig{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.section3 .groom-ig{
    margin-bottom: 60px;
}

.section3 img.instagram{
    display: block;
    width: 16px;
    margin-right: 7px;
}

.section3 h5{
    font-size: 13.09px;
    font-weight: 300;
}

.section4{
    text-align: center;
    position: relative;
}

.section4 .lentera{
    position: absolute;
    top: 0;
}

.section4 .lentera-1{
    width: 14%;
    left: 2%;
}

.section4 .lentera-2{
    width: 21%;
    left: 8%;
}

.section4 .lentera-3{
    width: 10%;
    left: 74%;
}

.section4 .lentera-4{
    width: 19%;
    right: 0;
}

.section4 img.ornament{
    width: 15%;
    margin: 70px 0 60px;
}

.section4 .timesection{
    display: inline-block;
    margin-left: 25.45px;
}

.section4 .timesection:first-child{
    margin-left: 0;
}

.section4 .value{
    margin-bottom: 5px;
}

.section4 .value, .timelabel{
    font-size: 17.45px;
}

.section4 h2{
    font-size: 43.64px;
    margin: 35px 0;
    padding: 0 20px;
}

.section4 p{
    font-size: 11.64px;
    padding: 0 20px;
    margin-bottom: 39px;
}

.section4 img.patterns{
    display: block;
}

.section5{
    width: 100%;
    height: 100%;
    padding: 16% 8% 0 8%;
    background-image: url('../img/section5/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section5 .ornaments img{
    position: absolute;
}

.section5 img.flowers1{
    width: 51%;
    top: 0;
    left: 0;
}

.section5 img.bird{
    width: 20%;
    top: 1%;
    left: 66%;
}

.section5 img.bird2{
    width: 26%;
    top: 3%;
    right: 0;
}

.section5 img.cranes-left{
    width: 36%;
    top: 85%;
    left: 0;
}

.section5 img.cranes-right{
    width: 36%;
    bottom: 0;
    right: 0;
}

.section5 img.flowers2{
    width: 68%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.section5 .red-bg{
    border: 5.09px solid #A51414;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 330px 330px 0px 0px;
    padding: 22.5% 9% 45%;
}

.section5 p{
    border-radius: 330px 330px 0px 0px;
    font-size: 11.64px;
    margin-bottom: 50px;
    padding: 0 2%;
}

.section5 .venue{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.section5 .venue img{
    border: 3px solid #A51414;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section5 h2{
    font-size: 47.27px;
    position: absolute;
    bottom: -28px;
    font-style: normal;
    text-align: center;
}

.section5 h3{
    font-size: 20.36px;
    font-weight: 700;
    letter-spacing: 0%;
    margin: 15px 0;
}

.section5 h4{
    font-size: 14.55px;
    font-weight: 400;
}

.section5 h4 span{
    display: block;
    margin: 13px 0 10px;
}

.section5 .maps{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 15px auto;
    background: linear-gradient(96.01deg, #FFCE45 1.15%, #C3930E 163.96%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.section5 .maps img{
    width: 11%;
    margin-right: 5px;
}

.section5 h5{
    font-size: 13.09px;
    color: white;
}

.section5 .height{
    height: 55px;
}

.section6{
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.section6 h4{
    font-size: 20.36px;
    margin-bottom: 12px;
}

.section6 .title{
    position: relative;
    height: 155px;
    margin-bottom: 50px;
}

.section6 h2{
    font-size: 70px;
    position: absolute;
}

.section6 h2.akhsan{
    left: 20%;
}

.section6 h2.yoona{
    top: 70px;
    right: 20%;
}

.section6 .love{
    display: flex;
    justify-content: center;
}

.section6 .love img.love_ornaments{
    width: 6%;
    display: block;
}

.section6 .container-story{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.section6 .line{
    background-color: white;
    width: 2px;
    height: 100%;
    position: absolute;
}

.section6 .story{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.section6 .story .image{
    padding: 20px;
    width: 50%;
}

.section6 .story img{
    display: block;
    border: 3.64px solid #A51414;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section6 .story .text{
    width: 50%;
    padding: 0 20px;
    text-align: left;
}

.section6 .story .text2{
    text-align: right;
}

.section6 h3{
    font-size: 69.09px;
    margin-top: -28px;
}

.section6 p{
    font-size: 13.09px;
}

.section6 .ring{
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.section6 img.ring{
    width: 10%;
    display: block;
}

.section6 h5{
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 14.55px;
}

.section6 img.flowers{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.section7{
    text-align: center;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section7 img.vector{
    width: 9%;
    display: block;
    margin-bottom: 10px;
}

.section7 h3{
    font-size: 20.36px;
}

.section7 h2{
    font-size: 69.09px;
    margin: 10px 0;
}

.section7 p{
    font-size: 13.09px;
}

.section7 .line{
    background-color: white;
    width: 2px;
    height: 18.18px;
    margin: 20px 0;
}

.section7 .container-width{
    width: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section7 .container-width img{
    object-fit: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.section7 div.thumbnail{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 3px solid #A51414;
}

.section7 .gallery{
    margin: 30px 0;
    width: 100%;
}

.section7 .gallery-row1, .section7 .gallery-row2, .section7 .gallery-row4{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section7 .gallery1, .section7 .gallery2, .section7 .gallery3, .section7 .gallery4, .section7 .gallery5, .section7 .gallery6, .section7 .gallery7, .section7 .gallery8, .section7 .gallery9, .section7 .gallery10{
    border: 3px solid #A51414;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section7 .gallery7, .section7 .gallery4, .section7 .gallery3, .section7 .gallery6{
    height: 270px;
}

.section7 .gallery5, .section7 .gallery8, .section7 .gallery2{
    height: 230px;
}

.section8{
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background-image: url('../img/section8/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section8 img{
    position: absolute;
}

.section8 img.tree_left{
    width: 56%;
    top: 0;
    left: 0;
}

.section8 img.tree_right{
    width: 56%;
    top: 0;
    right: 0;
}

.section8 .red-bg{
    width: 84%;
    padding: 100px 20px;
    border: 3px solid #A51414;
    border-radius: 240px;
    margin-bottom: 75px;
}

.section8 .title{
    position: relative;
    height: 128px;
    margin-bottom: 50px;
}

.section8 .title h2{
    font-size: 58.18px;
    position: absolute;
}

.section8 h2.konfirmasi{
    left: 20px;
}

.section8 h2.kehadiran{
    top: 58.18px;
    right: 20px;
}

.section8 h2{
    font-size: 58.18px;
}

.section8 p{
    font-size: 11.64px;
    font-weight: 400;
    margin: 30px 0;
}

.section8 h3{
    font-size: 14.55px;
    padding: 10px;
    margin: 0 30px;
    background: linear-gradient(96.01deg, #FFCE45 1.15%, #C3930E 163.96%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.section8 img.love_birds{
    width: 68%;
    bottom: 0;
}

.section8 img.tree_left_ornaments{
    width: 58%;
    bottom: 0;
    left: 0;
}

.section8 img.tree_right_ornaments{
    width: 58%;
    bottom: 0;
    right: 0;
}

.section9{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.section9 img.flowers-left{
    width: 55%;
    position: absolute;
    top: 2%;
    left: 0;
    z-index: 1;
}

.section9 img.flowers-right{
    width: 55%;
    position: absolute;
    top: 1.5%;
    right: 0;
    z-index: 1;
}

.section9 img.bird{
    width: 26%;
    position: absolute;
    right: 0;
    top: 9%;
    z-index: 2;
}

.section9 img.bird2{
    width: 11%;
    position: absolute;
    right: 0;
    top: 21.5%;
    z-index: 2;
}

.section9 .pic-bg{
    margin-top: 85px;
    width: 105%;
    height: 100%;
    padding: 100px 30px;
    background-image: url('../img/section9/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #A51414;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 220.73px 220.73px 0px 0px;
    z-index: 1;
}

.section9 h2{
    font-size: 69.09px;
    margin-bottom: 50px;
}

.section9 .wish{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.section9 p{
    font-size: 11.64px;
}

.section9 .inisial p{
    background-color: #A51414;
    width: 36.36px;
    height: 36.36px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section9 img.polygon{
    width: 12px;
    height: auto;
    display: block;
    position: relative;
    top: 10px;
    left: 3px;
}

.section9 .wish-box{
    width: 85%;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
}

.section9 .name-time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section9 h5{
    font-size: 17.45px;
    margin-right: 20px;
}

.section9 .name-time p{
    font-size: 10px;
}

.section9 .location{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.section9 .location img{
    width: 10px;
    display: block;
    margin-right: 10px;
}

.section9 .location p{
    font-size: 11.64px;
}

.section9 h3{
    font-size: 32.73px;
    margin: 30px 0 25px 0;
}

.section9 h6{
    font-size: 16px;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: left;
}

.section9 h4{
    font-size: 18.18px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.section10{
    padding: 120px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section10 img.lentera-1{
    width: 10%;
    position: absolute;
    top: 0;
    left: 7%;
}

.section10 img.lentera-2{
    width: 21%;
    position: absolute;
    top: 0;
    left: 14%;
}

.section10 img.lentera-3{
    width: 21%;
    position: absolute;
    top: 0;
    left: 70%;
}

.section10 img.tree-left-top{
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.section10 img.tree-left-bottom{
    width: 53%;
    position: absolute;
    top: 0;
    left: 0;
}

.section10 img.tree-right-top{
    width: 58%;
    position: absolute;
    top: 0;
    right: 0;
}

.section10 img.tree-right-bottom{
    width: 49%;
    position: absolute;
    top: 0;
    right: 0;
}

.section10 .foto-border{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.section10 img.foto{
    width: 39%;
    border: 2px solid #F6B6A3;
    border-radius: 100%;
}

.section10 img.border{
    width: 59%;
    position: absolute;
}

.section10 .title{
    position: relative;
    height: 178px;
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section10 h2{
    font-size: 72.73px;
    position: absolute;
}

.section10 h2.akhsan{
    left: 20px;
}

.section10 h2.yoona{
    top: 72.73px;
    right: 20px;
}

.section10 h2.yoona span{
    font-size: 43.64px;
}

.section10 h4{
    font-size: 13.09px;
    font-weight: 400;
}

.section10 h3{
    font-size: 14.55px;
    margin: 30px 0;
}

.section10 .line{
    background-color: white;
    width: 2px;
    height: 50px;
    margin: 30px 0;
}

.section10 p{
    font-size: 11.64px;
}

.section10 p img{
    width: 2%;
}

.section10 p span{
    font-weight: 600;
}

.section10 img.flowers-left{
    width: 74%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.section10 img.flowers-right{
    width: 65%;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 1200px) {
    .fixed-content h1{
        font-size: 120px;
    }
    
    .fixed-content span.and{
        font-size: 80px;
    }
}

@media (max-width: 1020px) {
    .fixed-content h1{
        font-size: 100px;
    }
    
    .fixed-content span.and{
        font-size: 60px;
    }
}

@media (max-width: 860px) {
    div.fixed-content{
        display: none;
    }
  
    div.scrolled-content{
        width: 100%;
    }

    div.content{
        width: 100%;
    }
}